<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336768061417-qa9dt083leshob66iqd5ml8offoc3po8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336768061417-qa9dt083leshob66iqd5ml8offoc3po8</string>
	<key>API_KEY</key>
	<string>AIzaSyCFneLzHZgLnTedNGJZp6hHlTMdEwj2jhA</string>
	<key>GCM_SENDER_ID</key>
	<string>336768061417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domain.jobbox</string>
	<key>PROJECT_ID</key>
	<string>jobbox-d937e</string>
	<key>STORAGE_BUCKET</key>
	<string>jobbox-d937e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336768061417:ios:925a7194d23cc586e64578</string>
</dict>
</plist>